*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height:100%;
    background-color:#fff;
}
.top-bar{
    position: fixed;
    top:0;
    z-index:99;
    width:100%;
    height:60px;
    background:rgba(0,0,0,0.5);
    
}
.menu-wra a{
    color:#fff;
    letter-spacing: 5px;
    cursor: pointer;
}
.menu-wra a:hover{
    color:rgb(245, 84, 9);
    text-decoration: none;
}
.top-bar > div{
    /* position: absolute; */
    height:100%;
    width:1170px;
    margin:0 auto;
    /* background: red; */
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
}
.logo-wra{
    width:200px;
    /* border:1px solid black; */
    height:100%;
    /* background:#fff; */
    background-image: url(../img/logoko1.png);
    background-size:cover;
    background-position:0 -9px;
}

.menu-wra{
    flex:1;
}
.menu-wra > ul{
    width:100%;
    display: flex;
    align-items: center;
    padding-left:100px;
}
.menu-wra > ul >li{
    flex:1;
    /* border:1px solid #fff; */
    text-align: center;  
}
.login-wra{
    width:200px;
    text-align: right;
}
.login-wra a{
    font-size:16px;
    color:#bbb;
    letter-spacing: 5px;
}
.login-wra a:hover{
    text-decoration: none;
    color:rgb(245, 84, 9);
    /* font-size:18px; */
    cursor: pointer;
}
.top-bar .active{
    border-bottom:3px solid rgb(245, 84, 9);
    color:rgb(245, 84, 9);
}
.top-bar .active h3{
    color:rgb(245, 84, 9);
}
.login-wra .nav > li > a:hover ,
		.nav .open>a {
			text-decoration: none;
			background-color: inherit!important;
		}
