<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游厦门</title>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/blog.css">
    <script src="./js/axios.js"></script>
	<script src="./js/vue.min.js"></script>
</head>

<body>
    <div class="top-bar">
        <div>
            <div class="logo-wra">

            </div>
            <div class="menu-wra">
                <ul>
                    <li ><a href="/index.html">
                            <h3>首页</h3>
                        </a></li>
                    <li><a href="/scenery.html">
                            <h3>景区</h3>
                        </a></li>
                    <li><a href="/hotel.html">
                            <h3>酒店</h3>
                        </a></li>
                    <li class="active"><a href="/blog.html">
                            <h3>攻略</h3>
                        </a></li>
                    <li><a href="/store.html">
                            <h3>美食</h3>
                        </a></li>
                </ul>
            </div>
            <div class="login-wra" id="loginTop">
                <a href="/login.html" v-show="!isLogin">登录</a>
                <ul class="nav navbar-nav navbar-right" v-show="isLogin">
                    <li><a href="#">
                            <img :src=" user.pic " alt="" style="width:50px;height:50px;border-radius:50%;">
                        </a></li>
                    <li class="dropdown" style="margin-top:20px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            {{user.username}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" @click.prevent="loginOut">登出</a></li>
                            <li><a href="#" @click.prevent="goCheckUser">个人资料</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script src="./js/user.js"></script>
    <div class="swiper-wra" id="swiper">
        <div class="search-wra">
            <i class="glyphicon glyphicon-search search-btn"></i>
            <input type="text" id="search-inp" placeholder="搜攻略" @focus="window.location.href='http://localhost:8088/search.html'">
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" :class="index==0?'active':''" v-for="(item,index) in swiperList">
                    <img :src="item.pic" alt="...">
                    <div class="carousel-caption">
                        <h3><a>{{item.title}}</a></h3>
                        <p>{{item.content.substring(0,30)+'......'}}</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="content-wra container" id="blog">
        <div class="left">
            <div class="title">
                <h3>游玩攻略推荐</h3>
            </div>
            <div class="blog-wra" >
                <div class="blog-item" v-for="item in blogList" @click="goDetail(item.id)">
                    <div class="blog-pic">
                        <img :src="item.pic" alt="">
                    </div>
                    <div class="blog-detail">
                        <h4 class="title">{{item.title}}</h4>
                        <p class="msg">
                            <span><i class="glyphicon glyphicon-calendar"></i>{{item.dayNum}}天</span>
                            <span><i class="glyphicon glyphicon-map-marker"></i>{{item.destNum}}个目的地</span>
                        </p>
                        <p class="depict">{{item.content}}</p>
                        <p class="tips">
                            <span v-for="(dest,index) in item.destinations">{{dest}} <i class="glyphicon glyphicon-arrow-right" v-show="index != (item.destinations.length -1)"></i></span>
                        </p>

                    </div>
                    <!-- <div class="blog-btn">
                        <button type="button" class="btn btn-warning">查看详情</button>
                        <button type="button" class="btn btn-success">查看评论</button>
                    </div> -->
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li :class="curPage == 1 ?'disabled':''">
                            <a href="#" aria-label="Previous"  @click.prevent="if(curPage == 1){return };curPage--;getData()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li :class="curPage== item?'active':''" v-for="(item,index) in pageList" ><a href="#"  @click.prevent="if(curPage == item){return;}curPage = item;getData()">{{item}}</a></li>
                        <li :class="curPage == pageList.length || pageList.length == 0 ?'disabled':''">
                            <a href="#" aria-label="Next" @click.prevent=" if(curPage == pageList.length || pageList.length == 0){return;}curPage++;getData()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right" >
            <div class="tab tag">
                <h3>标签</h3>
                <ul class="ul-tag">
                    <li :class="activeTagId == 0?'active':''" @click="activeTagId = 0"><a href="" @click.prevent="">全部</a></li>
                    <li v-for="item in tagList" :class="activeTagId == item.id?'active':''" @click="activeTagId = item.id"><a href="" @click.prevent="">{{item.name}}</a></li>
                </ul>
            </div>
            <div class="tab hot-blog">
                <h3>最热攻略 <span class="label label-warning">HOT</span></h3>
                <ul>
                    <li class="title" v-for="item in hotBlogList" @click="goDetail(item.id)"><a href=""  @click.prevent="goDetail(item.id)">{{item.title}}</a></li>
        
                </ul>
            </div>
            <div class="tab new-blog">
                <h3>最新攻略 <span class="label label-danger">NEW</span></h3>
                <ul>
                    <li class="title" v-for="item in newBlogList" @click="goDetail(item.id)"><a href="" @click.prevent="goDetail(item.id)">{{item.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/blog.js"></script>
</body>

</html>