<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div class="top-bar" style="background:#322c27;">
        <div>
            <div class="logo-wra">

            </div>
            <div class="menu-wra">
                <ul>
                    <li><a href="/index.html">
                            <h3>首页</h3>
                        </a></li>
                    <li><a href="/scenery.html">
                            <h3>景区</h3>
                        </a></li>
                    <li><a href="/hotel.html">
                            <h3>酒店</h3>
                        </a></li>
                    <li><a href="/blog.html">
                            <h3>攻略</h3>
                        </a></li>
                    <li><a href="/store.html">
                            <h3>美食</h3>
                        </a></li>
                </ul>
            </div>
            <div class="login-wra" id="loginTop">
                <a href="/login.html" v-show="!isLogin">登录</a>
                <ul class="nav navbar-nav navbar-right" v-show="isLogin">
                    <li><a href="#">
                            <img :src=" user.pic " alt="" style="width:50px;height:50px;border-radius:50%;">
                        </a></li>
                    <li class="dropdown" style="margin-top:20px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            {{user.username}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" @click.prevent="loginOut">登出</a></li>
                            <li><a href="#" @click.prevent="goCheckUser">个人资料</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script src="./js/user.js"></script>
    <div class="content" id="search">
        <div class="search-wra">
            <div class="header-search-block">
                <input class="header-search-input" v-model="searchWord" @keydown.enter="search" type="text" placeholder="搜景区/酒店/攻略/美食">
                <button class="header-search-btn" @click="search">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <div class="search-list-wra">
            <div class="left">
                <div class="crumb">
                    <ol class="breadcrumb">
                        <li><a href="/index.html">游厦门</a></li>
                        <li class="active">搜索结果</li>
                    </ol>
                </div>
                <div class="scenery search-tab" v-if="sceneryList.length > 0">
                    <h3>景区</h3>
                    <span class="trangle"></span>
                    <div class="search-list-con" >
                        <div class="search-item" v-for="item in sceneryList" @click="detail('scenery',item.id)">
                            <img :src="item.pic" alt="">
                            <p class="item-name">{{item.name}}</p>
                        </div>
                    </div>
                    <div class="search-null" v-if="sceneryList.length == 0">
                        <p>无查询结果</p>
                    </div>
                </div>
                <div class="hotel search-tab"  v-if="hotelList.length > 0">
                    <h3>酒店</h3>
                    <div class="search-list-con" >
                        <div class="search-item" v-for="item in hotelList" @click="detail('hotel',item.id)">
                            <img :src="item.pic" alt="">
                            <p class="item-name">{{item.name}}</p>
                        </div>
                    </div>
                    <div class="search-null" v-if="hotelList.length == 0">
                        <p>无查询结果</p>
                    </div>
                </div>
                <div class="store search-tab" v-if="storeList.length > 0">
                    <h3>美食</h3>
                    <div class="search-list-con" >
                        <div class="search-item"  v-for="item in  storeList" @click="detail('store',item.id)">
                            <img :src="item.pic" alt="">
                            <p class="item-name">{{item.name}}</p>
                        </div>
                    </div>
                    <div class="search-null" v-if="storeList.length == 0">
                        <p>无查询结果</p>
                    </div>
                </div>
                <div class="blog search-tab" v-if="blogList.length > 0">
                    <h3>攻略</h3>
                    <div class="search-list-con" >
                        <div class="search-item"  v-for="item in blogList" @click="detail('blog',item.id)">
                            <img :src="item.pic" alt="">
                            <p class="item-name">{{item.title}}</p>
                        </div>
                    </div>
                    <div class="search-null" v-if="blogList.length== 0">
                        <p>无查询结果</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/search.js"></script>
</body>

</html>