<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/detailCommon.css">
    <link rel="stylesheet" href="./css/storeDetail.css">
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div class="top" style="height:80px;">
        <div class="top-login" style="height:80px; ">
            <div class="login-wra" id="loginTop">
                <div class="row">
                    <div class="col-lg-2" style="height:80px;overflow: hidden;"> <img src="./img/logoko1.png" alt=""
                            style="float:left;width:180px;height:90px;"></div>
                    <div class="col-lg-6">
                        <div class="search-wra">
                            <div class="search-con">
                                <input type="text" id="search-inp" onfocus="window.location.href='http://localhost:8088/search.html'"  placeholder="景区/酒店/美食/攻略" >
                                <div class="search-btn"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a href="/login.html" v-show="!isLogin" style="color:#fff;line-height:80px;font-size:20px;">登录</a>
                        <ul class="nav navbar-nav navbar-right" v-show="isLogin">
                            <li><a href="#">
                                    <img :src=" user.pic " alt="" style="width:50px;height:50px;border-radius:50%;">
                                </a></li>
                            <li class="dropdown" style="margin-top:20px;">
                                <a href="#" style="color:#fff;font-size:18px;" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    {{user.username}}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="z-index:10;">
                                    <li><a href="#" @click.prevent="loginOut">登出</a></li>
                                    <li><a href="#" @click.prevent="goCheckUser">个人资料</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="./js/user.js"></script>
    <div class="content" id="store">
        <div class="store-wra">
            <div class="left">
                <div class="crumb">
                    <ol class="breadcrumb">
                        <li><a href="/index.html">游厦门</a></li>
                        <li><a href="/store.html">美食</a></li>
                        <li class="active">{{store.name}}</li>
                    </ol>
                </div>
                <div class="store-content">
                    <div class="store-title">
                        <div class="title-left">
                            <h2 class="store-name">{{store.name}}</h2>
                            <p class="avg-money">￥<span>{{store.money}}</span> /人均</p>
                        </div>
                        <div class="title-right">
                            <!-- <p class="store-grade"><span>4.6</span>分</p> -->
                        </div>
                    </div>
                    <div class="store-detail">
                        <div class="store-msg">

                            <div class="msg-top">
                                <div class="msg-left">
                                    <p>
                                        <span class="msg-name">地址:</span>
                                        <span class="msg-content">{{store.address}}</span>
                                    </p>
                                    <p>
                                        <span class="msg-name">电话:</span>
                                        <span class="msg-content">{{store.phone}}</span>
                                    </p>
                                    <p>
                                        <span class="msg-name">营业时间:</span>
                                        <span class="msg-content">{{store.opentime}}</span>
                                    </p>
                                    <div class="store-tag">
                                        <span v-for="item in food">{{item.name}}</span>
                                    </div>

                                </div>
                                <div class="store-pic">
                                    <img :src="store.pic" alt="">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="food-wra">
                    <ul class="nav nav-tabs">
                        <li role="presentation" :class="activeName=='food'?'active':''"  @click.prevent="activeName='food'"><a href="#">菜品</a></li>
                        <li role="presentation" :class="activeName=='comment'?'active':'' " @click.prevent="activeName='comment'"><a href="#">评论区</a></li>
                    </ul>
                    <div class="food" v-show="activeName=='food'">
                        <div class="food-item" v-for="food in food">
                            <img :src="food.pic" style="width:200px;height:120px" alt="">
                            <p class="food-name">{{food.name}}</p>
                            <p class="food-money">￥<span>{{food.money}}</span>/元</p>
                        </div>
                    </div>
                    <div class="comment-wra" v-show="activeName=='comment'">
                        <div class="comment-inp" id="comment">
                            <input type="hidden" id="commentParent" v-model="parentId">
                            <textarea class="_j_comment_content" v-model="commentText"
                                :placeholder="parentId? '回复@'+parentUserName+':' :'评论一下吧'"></textarea>
                            <button type="button" class="toComment-btn"  @click="addComment(store.id)">评论</button>
                        </div>
                        <h3>网友评论 ({{commentTotal}})</h3>
                        <div class="comment-item" v-for="comment in commentList">
                            <div class="headpic">
                                <img :src="comment.userPic == 'null' ? './img/19.jpg':comment.userPic" alt="">
                            </div>
                            <div class="comment-detail">
                                <h4 class="comment-username">{{comment.userName}} <strong>回复：{{comment.parentName}}</strong></h4>
                                <p class="comment-time">{{imeFormatter(comment.ctime)}}</p>
                                <h5>{{comment.content}}</h5>
                                <button class="btn btn-default" style="float:right;"><a href="#comment" @click="reply(comment['user_id'],comment.userName)">回复</a></button>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <!-- :class="pageNum == 1 'disabled':''" -->
                                <li :class="page == 1 ?'disabled' : ''" @click.prevent="page = 1;getComment()">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li v-for="pageNum in pageNumList" @click.prevent="page = pageNum;getComment()"
                                    :class="page == pageNum ?'active':''"><a href="#">{{pageNum}}</a></li>
                                <!-- :class="pageNum == pageNumList.length ? 'disabled':''" -->
                                <li :class="page >= pageNumList.length ?'disabled':''" @click.prevent="page = pageNumList.length;getComment()">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <script src="./js/storeDetail.js"></script>
</body>

</html>